#sidebar-active {
    display: none;
}
.sidebar-btn, .sidebar-close-btn {
    padding: 0 20px;
    display: none;
    cursor: url("cursor-pointer.png"), pointer;
}
@media(max-width: 768px) {
    .nav__links {
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 150px;
        height: 100%;
        transition: 0.6s ease-out;

        background-color: #463d37;
    }
    .nav__links li a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .sidebar-btn, .sidebar-close-btn {
        display: block;
    }
    #sidebar-active:checked ~ .nav__links {
        right: 0;
    }
    #sidebar-active:checked ~ #overlay {
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}